.admin-category-container{
  display: flex;
}

.admin-category-main{
    display: flex;
    background-color: #8C8C8C;
    width:79.9vw;
    height:100vh;
    
   
}

.admin-category-content{
    margin:2rem;
    background-color: white;
    width: 100%;
    padding: 2rem;
   
}


.admin-category-heading h1{
   font-size: 20px;
   padding-bottom: 2rem;

}


.admin-category-card {
    position: relative;
    display: inline-block; /* Ensure the container wraps around its content */
  }
  
  .admin-category-card-create {
    display: flex;
    gap:1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    align-items: center;
    width:20vw;
    justify-content: center;
  }

  .admin-category-create-text{
    color: white;
  }

  .admin-category-card-img{
    border-radius: 12px;
    width:239px;
    height: 100px;
    filter: brightness(70%);
    
  }

  .admin-category-card-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .admin-category-card-container-main{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
   
  }
  

  .admin-category-popup-container{
    position: fixed;
    width: 25vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 2px solid #FFA552;
    border-radius: 5px;
    z-index: 9999; /* Ensure it's on top of other elements */
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);  */
  }

  .admin-category-popup-main{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .admin-category-popup-main h2{
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 1rem;
  }

  .admin-category-popup-form-group{
    display: flex;
    flex-direction: column;
    padding-bottom:1rem ;

  }

  .admin-category-popup-form-input{
    background-color: #f3f3f3;
    border: 1px solid #f3f3f3;
    width:20vw;
    height:7vh;
    border-radius: 6px;
  }

  .admin-category-popup-form-label{
    padding-bottom:0.7rem ;
    font-size: 16px;
  }

  .admin-category-popup-form-input-upload{
    background-color: #f3f3f3;
    border: 1px solid #f3f3f3;
    width:20vw;
    padding: 0.5rem;
    border-radius: 6px;
    
  }


  .admin-category-popup-button{
    display: flex;
    gap:1rem;
    justify-content: center;
  }

  .admin-category-create-button{
    border: 1px solid #FFA552;
    padding: 0.5rem 2rem;
    border-radius: 4px;
  }

  .admin-category-cancel-button{
    border: 1px solid #C5C5C5;
    padding: 0.5rem 2rem;
    border-radius: 4px;
  }

 .admin-category-popup-content{
  padding: 0rem 2rem;
 }

 .admin-category-popup-content p{
   font-size: 16px;
   padding-bottom: 1rem;
 }