.landing1-container{
    display:flex
}

.landing1-main{
    display: flex;
    padding: 4rem;
    align-items: center;
    justify-content: space-evenly;
    gap:5rem;
    flex-wrap: wrap;
}

.landing1-left{
    padding: 0rem 3rem;
    text-align: center;
   
}

.landing1-left h2{
    background: linear-gradient(90deg,
    rgba(255, 95, 106, 1) 0%,
    rgba(255, 167, 82, 1) 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
  font-size: 24px;
  
}

.landing1-left h1{
    color: white;
    font-size: 40px;
}

.landing1-left p{
    color: white;
    font-size: 20px;
    padding-bottom: 3rem;
}

.landing1-left button{
    border: 0px solid transparent;
    border-radius: 0.5em;
    padding: 0.5rem 0;
    color: aliceblue;
    width: 7vw;
    background: linear-gradient(90deg, rgba(255, 95, 106, 1) 0%, rgba(255, 167, 82, 1) 100%);
}

.landing1-right img{
    width: 580.48px;
    height:550px;
    
}

.landing1-outline{
    position: relative;
    width: 580.48px;
    height:550px;
}

.landing1-avatar{
    position: absolute;
}