.assetlist-container{
    display: flex;
}
.assetlist-main{
    display: flex;
    background-color: #8C8C8C;
    width:80vw;
    height:100vh;
}

.assetlist-content{
    margin: 2rem 1rem 2rem 2rem;
    background-color: white;
    width: 100%;
    padding: 2rem;
}

.assetlist-heading{
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.assetlist-heading-text{
    display: flex;
    gap:1rem;
    align-items: center;
}

.assetlist-heading-text h1{
    font-size:20px;
}

.assetlist-heading-text p{
    font-size: 18px;
}

.assetlist-heading-button button{
    border: 2px solid #C5C5C5;
    padding: 0.2rem 2rem;
    border-radius: 4px;
}

.assetlist-details{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    flex-direction: column; 
}

.assetlist-details-content{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    border: 0px solid #F3F3F3;
    background-color: white;
    border-radius: 6px;
    align-items: center;
    
}
.assetlist-details-content h1{
    font-size: 16px;
    font-weight:700;
}
.assetlist-details-table{
    border: 1px solid #F3F3F3;
    background-color: #F3F3F3;
    padding: 1rem;
    border-radius: 12px;
   
}